* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: #f0a92e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

#menu li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px; 
}

#menu a :hover{
    color: #894502;
}

#menu a {
    color: black;
    text-decoration: none;
}

a {
    margin-top: 20px;
}

h2 {
    font-size: 50px;
}

#anime {
    margin-top: 20px;
}

#scroling-text2 {
    margin-top: 20px;
}

#game-rules {
    margin-top: 30px;
    width: 800px;
    height: 550px;
    background: rgb(1,0,13);
    background: linear-gradient(125deg, rgba(1,0,13,0.8743872549019608) 0%, rgba(203,132,8,1) 35%, rgba(0,0,0,0.8183648459383753) 100%);
}

h3 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

#text {
    width: 60%;
    height: 30%;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 170px;
}

p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 27px;
}

#picture A {
    margin-bottom: 5px;
}

#scroling-text2 p {
    font-size: 40px;
    margin-top: 30px;
}

/* Card area */
section {
    display: grid;
    grid-template-columns: repeat(5, 8rem);
    grid-template-rows: repeat(5, 8rem);
    grid-gap: 10px;
    perspective: 800px;
    margin-top: 5px;
    margin-bottom: -120px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.face,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background: rgb(2, 0, 36);
    background: linear-gradient(125deg, rgba(2, 0, 36, 1) 0%, rgba(203, 145, 8, 0.9976365546218487) 35%, rgba(1, 18, 22, 1) 100%);
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg);
}

.face {
    transform: rotateY(-180deg);
}

/* Window section */
.window {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* change to gradiant color */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


